:root  {
    --primar-color: #007bff;
}

.Notifications {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    margin-bottom: 10px;
}

[data-priority="urgent"] {
    color: red;
}
[data-priority="default"] {
    color: blue;
}